<div class="top">A small number of members may have their delivery rescheduled during the week of the National Day
  of Truth and Reconciliation. <a href="">Click here for details.</a></div>
<header>

  <div>
    <div>
      <a href="/"><img src="/images/logo.png" /></a>

    </div>
    <ul class="navbar_menu">
      <li><a class="active" href="menu">ON THE MENU</a></li>
      <li><a href="#PRICING">PRICING</a></li>
      <li><a href="#BLOG">BLOG</a></li>
      <li><a href="#FAQ">FAQ</a></li>
      <li><a href="#GIFT">GIFT CARD</a></li>

    </ul>


    {{#if user}}
    <ul class="navbar_name">
      <li>👋 Hello, {{user.firstName}} {{user.lastName}}!</li>
    </ul>

    <ul class="navbar_button">
      <a class="buttonLogin" href="/user/dashboard">DashBoard</a>
      <a class="buttonSignup" href="/user/logout">Log out</a>
    </ul>

    {{!-- <img src="/profile-picture/{{user.profilePic}}" alt="{{user.firstName}}" /> --}}
    {{else}}

    <ul class="navbar_button">
      <a class="buttonLogin" href="/user/login">Log in</a>
      <a class="buttonSignup" href="/user/signup">Sign up</a>
    </ul>

    {{/if}}

    <a href="#" class="navbar"><i class="fas fa-bars"></i></a>
  </div>
</header>