<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alice Food Delivery</title>
  <link rel="stylesheet" href="login.css">

</head>

<body>
  <div class="con">
    <div class="con-first">
      Welcome back !!!
    </div>

    <form method="post" action="/user/login">
      {{#if validation.email}}
      <span style="color: red; margin-left:10px">{{validation.email}}</span>
      {{/if}}
      <div class="texting_field">
        <input type="text" id="email" name="email" value="{{values.email}}">
        <span></span>
        <label for="email">* Email address</label>

      </div>
      {{#if validation.password}}
      <span style="color: red; margin-left:10px">{{validation.password}}</span>
      {{/if}}

      <div class="texting_field">
        <input type="password" id="password" name="password" value="{{values.password}}">
        <span></span>
        <label for="password">* Password</label>
      </div>

      <div>

        <div>

          <label for="password" style="color: #E95C63">* I am a </label>
        </div>

        <div class="container">
          <input type="radio" name="radio" id="customer" value="customer" checked="checked">
          <label for="customer" class="customer">
            <span> Customer 👩 </span>
          </label>
          <input type="radio" name="radio" id="clerk" value="clerk">
          <label for="clerk" class="clerk">
            <span> Data Entry Clerk 👩‍🍳 </span>
          </label>
        </div>

      </div>

      <div class="pass"> {{#each passwordErr}}
        <span>{{this}}</span>
        {{/each}}<a href="/user/password">Forgot Password?</a>
      </div>

      <div style="text-align:center">
        {{#each errors}}
        <p style="color: red">{{this}}</p>
        {{/each}}
      </div>

      <input type="submit" value="Login">
      <div class="signup_link"> Not a client yet? <a href="/user/signup">Signup here</a>
      </div>


    </form>

  </div>
</body>

</html>