<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alice Food Delivery</title>
  <link rel="stylesheet" href="signup.css">

</head>

<body>
  <div class="con">
    <div class="con-first">
      Forgot your password ?
      <p>Type your email in the field below to receive your validation code by email.</p>
    </div>

    <form method="post" action="/user/password">


      {{#if validation.email}}
      <span style="color: red; margin-left:10px">{{validation.email}}</span>
      {{/if}}


      {{#if validation.emailCheck}}

      <div class="texting_field">
        <input type="text" id="validationCode" name="validationCode" value="{{values.validationCode}}">
        <span></span>
        <label for="validationCode">* Validation code</label>
      </div>

      <div class="texting_field">
        <input type="text" id="newPw" name="newPw" value="{{values.newPw}}">
        <span></span>
        <label for="newPw">* New password</label>
      </div>

      <div class="texting_field">
        <input type="text" id="verifyPw" name="verifyPw" value="{{values.verifyPw}}">
        <span></span>
        <label for="verifyPw">* Verify password</label>
      </div>

      <input type="submit" value="Change password">

      {{else}}


      <div class="texting_field">
        <input type="text" id="email" name="email" value="{{values.email}}">
        <span></span>
        <label for="firstNemailame">* Email</label>
      </div>

      <input type="submit" value="Send me validation code">

      {{/if}}


  </div>


  </form>

  </div>
</body>

</html>