<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="shoppingCart">

    <div>
      Shopping Cart
    </div>

    <div>
      <div>
        {{#if hasOrders}}
        <table border="1" cellspacing="2" cellpadding="2" class="table">
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price($)</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Remove</th>
            <th>Add</th>

          </tr>

          {{#each orders}}
          <tr>
            <td> <img src=/images/menuPictures/{{food.img}} class="tableImg"></td>
            <td>{{food.title}}</td>
            <td>${{food.price}}</td>
            <td>{{qty}}</td>
            <td>${{totalprice}}</td>
            <td class="remove">
              <a href=/remove-order/{{id}}>
                <img src="/images/trash.png" class="trashImg">
              </a>
            </td>

            <td class="remove">
              <a href=/add-order/{{id}}>
                <img src="/images/add.png" class="trashImg">
              </a>
            </td>

          </tr>
          {{/each}}
        </table>

        {{else}}
        <dd>Empty .. ! </dd>
        {{/if}}
      </div>


      <div>
        <div class="profileCart">
          <img src="/images/profile.png" />
          <div>{{user.firstName}} {{user.lastName}}</div>
          <div>{{user.email}}</div>
        </div>

        <div class="totalTxt">
          Total : {{orderTotal}}
        </div>
        <div class="order">
          <a class="buttonOrder" href="/check-out">Place Order</a>
        </div>

      </div>
    </div>

    {{#if message}}
    <h3 style="color: red;">{{message}}</h3>
    {{/if}}

  </div>


</body>

</html>