<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alice Food Delivery</title>
  <link rel="stylesheet" href="/clerk/dataClerk.css">
  <link rel="stylesheet" href="/user/login.css">
  <script src="https://cdn.tiny.cloud/1/fjzk11b3uj0ktvxotbzs4nvqp23wz746pllzwb5agnrrlod8/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src='https://cdn.tiny.cloud/1/fjzk11b3uj0ktvxotbzs4nvqp23wz746pllzwb5agnrrlod8/tinymce/5/tinymce.min.js'
    referrerpolicy="origin">
    </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
</head>

<body>

  <div class="con">
    <div class="con-first">
      <img src="/images/setting.png" />

      <div>
        Manage Data
      </div>
    </div>

    <div class="con-second">
      <form method="post" action="/load-data/add-data" class="menuForm" enctype="multipart/form-data">
        <div class="texting_field">
          <input type="text" id="title" name="title" value="{{values.title}}">
          <span></span>
          <label for="title">* Title</label>
        </div>

        <div class="texting_field">
          <input type="text" id="included" name="included" value="{{values.included}}">
          <span></span>
          <label for="included">* Included</label>
        </div>

        <div style="color:#E95C63">* Description</div>


        <div class="texting_field">
          <textarea id="mytextarea" name="mytextarea">
          Description for Food
          </textarea>
        </div>

        <div class="texting_field">
          <input type="text" id="category" name="category" value="{{values.category}}">
          <span></span>
          <label for="category">* Category</label>
        </div>

        <div class="texting_field">
          <input type="number" id="price" name="price" value="{{values.price}}">
          <span></span>
          <label for="price">* price</label>

        </div>


        <div class="texting_field">
          <input type="number" id="time" name="time" value="{{values.time}}">
          <span></span>
          <label for="time">* time</label>

        </div>


        <div class="texting_field">
          <input type="number" id="serv" name="serv" value="{{values.serv}}">
          <span></span>
          <label for="serv">* Serving</label>

        </div>

        <div class="texting_field">
          <input type="number" id="calperServ" name="calperServ" value="{{values.calperServ}}">
          <span></span>
          <label for="calperServ">* Calories per Serving</label>

        </div>

        <div style="color:#E95C63">* Image</div>

        <div>
          <input type="file" name="img" id="img" accept="image/*" /><br /><br />
          <label for="img" class="imgChoose"></label>
        </div>


        <div>
          <div class="container">
            <input type="radio" name="top" id="customer" value=true checked="checked">
            <label for="customer" class="customer">
              <span> Top </span>
            </label>
            <input type="radio" name="top" id="clerk" value=false>
            <label for="clerk" class="clerk">
              <span> Normal </span>
            </label>
          </div>

        </div>

        <div style="text-align:center">
          {{#if errors}}
          <p style="color: red">{{errors}}</p>
          {{/if}}

        </div>
        <input type="submit" value="Add Meal">
      </form>

      <div class="lastcon">
        <div>
          Recent Meal Kit Data List
        </div>
        {{#each data}}
        <a class="box" href=/load-data/revise-menu?id={{{_id}}}>
          <img src=/images/menuPictures/{{{img}}} class="menuImg" />

          <div>
            <div>
              <div>
                {{title}}
              </div>
              <img src="/images/detail.png" class="tag" />
            </div>
            <div>{{included}}</div>
            <div>$ {{price}}</div>
          </div>

        </a>

        {{/each}}

        <div class="goMenuList">
          More Menu List
        </div>

      </div>
    </div>

  </div>

  </div>

</body>

</html>