<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/clerk/dataClerk.css">
  <link rel="stylesheet" href="/user/login.css">
  <script src="https://cdn.tiny.cloud/1/fjzk11b3uj0ktvxotbzs4nvqp23wz746pllzwb5agnrrlod8/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src='https://cdn.tiny.cloud/1/fjzk11b3uj0ktvxotbzs4nvqp23wz746pllzwb5agnrrlod8/tinymce/5/tinymce.min.js'
    referrerpolicy="origin">
    </script>
  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
</head>

<body>

  <div class="con">
    <div class="con-first">
      Manage Data
    </div>

    <div class="con-second">
      <form method="post" action="/load-data/add-data" class="menuForm" enctype="multipart/form-data">
        <div class="texting_field">
          <input type="text" id="title" name="title" value="{{values.title}}">
          <span></span>
          <label for="title">* Title</label>
        </div>

        <div class="texting_field">
          <input type="text" id="included" name="included" value="{{values.included}}">
          <span></span>
          <label for="included">* Included</label>
        </div>

        <div class="texting_field">
          <label for="mytextarea">* Description</label>
          <textarea id="mytextarea" name="mytextarea">
          Description for Food
          </textarea>
        </div>

        <div class="texting_field">
          <input type="text" id="category" name="category" value="{{values.category}}">
          <span></span>
          <label for="category">* Category</label>
        </div>

        <div class="texting_field">
          <input type="number" id="price" name="price" value="{{values.price}}">
          <span></span>
          <label for="price">* price</label>

        </div>


        <div class="texting_field">
          <input type="number" id="time" name="time" value="{{values.time}}">
          <span></span>
          <label for="time">* time</label>

        </div>


        <div class="texting_field">
          <input type="number" id="serv" name="serv" value="{{values.serv}}">
          <span></span>
          <label for="serv">* serv</label>

        </div>

        <div class="texting_field">
          <input type="number" id="calperServ" name="calperServ" value="{{values.calperServ}}">
          <span></span>
          <label for="calperServ">* calperServ</label>

        </div>

        <div class="texting_field">
          <input type="file" name="img" id="img" /><br /><br />
          <span></span>
          <label for="img">* Picture</label>
        </div>


        <div>
          <div class="container">
            <input type="radio" name="top" id="customer" value=true checked="checked">
            <label for="customer" class="customer">
              <span> Top </span>
            </label>
            <input type="radio" name="top" id="clerk" value=false>
            <label for="clerk" class="clerk">
              <span> Normal </span>
            </label>
          </div>

        </div>

        <div style="text-align:center">
          {{#each errors}}
          <p style="color: red">{{this}}</p>
          {{/each}}
        </div>
        <input type="submit" value="Add Meal">
      </form>

      <div class="lastcon">
        Meal Kit Data List
        {{!-- {{#each data}} --}}
        <div>
          <form method="post" action="/load-data/update-data">
            <table>
              <tr>
                <td><input type="text" name="nickname" value="{{nickname}}" readonly /></td>
                <td><input type="text" name="fName" value="{{fName}}" /></td>
                <td><input type="text" name="lName" value="{{lName}}" /></td>
                <td><input type="text" name="age" value="{{age}}" /></td>
                <td><button type="submit">Update</button></td>
              </tr>
            </table>
          </form>
        </div>


        {{!-- {{/each}} --}}

      </div>
    </div>

  </div>

  </div>

</body>

</html>